header {
    color: rgb(242, 207, 171);
}
.search-box{
    width: 600px;
    background: #c7a262;
    margin: 7px auto 0;
    border-radius: 4px;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;

}
.result-box{
    max-height: 300px;
    overflow-y: scroll;
}
button{
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1; 
    height: 30px;
    background: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: rgb(216, 143, 17);
}

h1 { 
   color: rgb(183, 87, 24);
   font-size: 3vw;
   color: #b97507;
   -webkit-text-stroke: 0.2vw #10c4e8;
}


h2 {
    color: rgb(216, 143, 41);
    font-size: 28px;
    color: #f50505;
    -webkit-text-stroke: 0.1vw #10c4e8;
}

.right-col{
    float: right;
    margin-right: 1%;
    margin-top: 1px;
    display: flex;
    align-items: center;
}

.right-col p{
    font-size: 1000px;
    color: rgb(255, 160, 36);
    font-weight: 400px;
    margin-right:0px;
}

h3 {
    color: rgb(255, 191, 0);
    font-size: 3vw;
    color: #b97507;
    -webkit-text-stroke:0.2vw #10c4e8;
    
}

p {
    color: rgb(214, 72, 40);
    font-size: 5px;
}

h4{
    color:red;
   font-size: 2vw;
   -webkit-text-stroke:0.1vw #10c4e8;
}